.resume
{
    .r-header
    {
        display: flex;
        margin-bottom: 1rem;

        .info
        {
            h1
            {
                color: #375265;
                letter-spacing: 0.3rem;
                text-align: center;
                font-weight: 700;
                font-size: 36px;
            }

            .r-contact
            {
                font-size: 13px;
                color: #aaa;
                ul
                {
                    display: flex;
                    list-style: '| ';
                    padding-inline-start: 10px;

                    li
                    {
                        margin-left: 0.5rem;
                    }
                }
                address
                {
                    margin-left: 10px;
                }
            }
        }
    }
    
    h4
    {
        color: #375265;
        letter-spacing: 0.1rem;
        font-size: 24px;
        font-weight: 500;
    }

    h5
    {
        font-size: 18px;
        font-weight: 500;
    }

    hr
    {
        border: none;
        border-top: #375265 solid 1px;
        padding: 0.1rem;
        border-bottom: #375265 solid 3px;
    }
}